html {
    width: 100%;
    min-width: 900px;
    height: 502px;
    background: #FFFFFF;
}

#banner
{
    width: 75%;
    height: 15%;
    background: #111F48;
}

#customButton1 {
    padding: 10px;
    color: white;
    background-color: #2D7939;
    border-radius: 8px;
    cursor: pointer;
}

#customButton1:hover {
    background-color: #36a847;
}

#customButton2 {
    padding: 10px;
    color: white;
    background-color: #2D7939;
    border-radius: 8px;
    cursor: pointer;
}

#customButton2:hover {
    background-color: #36a847;
}

input[type=button].buttonStyle {
    height: 30px;
    background: #2D7939;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

input[type=button].buttonStyle:hover {
    background-color: #36a847;
}

input[type=text] {
    margin-bottom: 5px;
}

.column {
    float: left;
    width: 50%;
    margin-left: 15px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

#progressBar {
   
    margin-top: 25px;
    margin-left: 26%;
}


#results {
    margin-top: 50px;
    width: 75%; 
    height: 75%;
    border: 1px solid black;
}

.pStyle {
    font-size: 20px; 
    display: inline-block; 
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 20px;
}

.hidden {
    display: none;
}